:root.theme-dark {
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --main-text-color: #f1b2ce;
  --nav-color: #ff0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-heading-color: #000028;
  --section-heading-color: #ff0070;
  --logo-color: #db00ff;
}
.theme-dark .header_camera {
  display: block;
}
