:root.theme-light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --main-text-color: #353430;
  --nav-color: #353430;
  --nav-hover-color: rgb(50 49 45 / 0.4);
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --logo-color: #ffc2e6;
}
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --main-text-color: #353430;
    --nav-color: #353430;
    --nav-hover-color: rgb(50 49 45 / 0.4);
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --logo-color: #ffc2e6;
  }
  .header_camera {
    display: none;
  }
}
.theme-light .header_camera {
  display: none;
}
